body {
    background-image: url("../images/background-desktop.png");
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-repeat: no-repeat;
    color: var(--Neutral-0);
    margin: 0;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    max-width: 90%;
}

header img {
    width: 100%;
    max-width: 160px;
    margin-bottom: 20px;
}

header h1 {
    font-weight: 800;
    font-size: 40px;
}

header h2 {
    font-weight: 700;
    font-size: 2.5rem;
    max-width: 600px;
}

header p {
    color: var(--Neutral-300);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

header h1, 
header h2, 
header p {
    color: var(--Neutral-0);
    text-align: center;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 100px 0px 100px;
}


/* ERROS */

.error {
    color: var(--Orange-500);
}

.input-error {
    border: 2px solid var(--Orange-500) !important;
}

.hidden {
    display: none;
}

.email-error {
    color: var(--Orange-500);
    font-size: 12px;
    margin-top: 5px;
}


/* BACKGROUND */

.line-top {
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    z-index: -1;
}

.line-bottom {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 45%;
    z-index: -1;
}

.lines {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    z-index: -1;
}

.circle {
    position: absolute;
    bottom: 22%;
    right: 26%;
    width: 12%;
    z-index: -1;
}