@media (max-width: 1200px) {
    body {
        background-image: url("../images/background-tablet.png");
    }

    .circle {
        bottom: 24%;
        right: 17%;
        width: 15%;
    }

    .line-bottom {
        bottom: -15%;
        width: 60%;
    }
}

@media (max-width: 426px) {
    body {
        background-image: url("../images/background-mobile.png");
    }

    .main {
        padding: 20px 20px 20px 20px;
    }

    .circle {
        bottom: 13%;
        right: 0%;
        width: 35%;
    }

    .line-bottom {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .upload-container {
        width: 100%;
        margin: 20px 0 20px;
    }

    .upload-area {
        font-size: 14px;
        height: 100px;
    }

    .upload-area img {
        width: 40px;
    }

    .upload-area .buttons .button {
        padding: 2px 3px;
        font-size: 12px;
    }

    .upload-note {
        font-size: 10px;
    }

    .header h2 {
        font-size: 22px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input {
        font-size: 14px;
        padding: 8px;
    }

    .btn {
        width: 78%;
        font-size: 14px;
        padding: 8px;
    }

    .ticket-header p {
        width: 100%;
        max-width: 320px;
    }

    .ticket {
        max-width: 380px;
    }

    .ticket-image {
        width: 100%;
    }

    .ticket-logo {
        top: 40px;
        width: 40%;
        max-width: 180px;
    }

    .ticket-date {
        font-size: 10px;
        top: 70px;
        right: 165px;
    }

    .ticket-avatar {
        width: 35px;
        height: 35px;
        left: 15px;
    }

    .ticket-user-info {
        left: 60px;
        top: 130px;
    }

    .ticket-name {
        font-size: 14px;
        max-width: 120px;
    }

    .ticket-username {
        font-size: 12px;
        max-width: 100px;
    }

    .ticket-code {
        font-size: 16px;
    }

    .line-top {
        width: 50%;
        left: 50%;
    }

    .lines {
        width: 250%;
    }
}

@media (max-width: 321px) {
    .ticket-logo {
        top: 45px;
        width: 40%;
        max-width: 180px;
    }

    .ticket-date {
        font-size: 10px;
        top: 70px;
        right: 110px;
    }

    .ticket-user-info {
        left: 60px;
        top: 120px;
    }

    .ticket-avatar {
        width: 35px;
        height: 35px;
        left: 15px;
        top: 120px;
    }

    .ticket-name {
        font-size: 14px;
        max-width: 120px;
    }

    .ticket-username {
        font-size: 12px;
        max-width: 100px;
    }

    .ticket-code {
        font-size: 16px;
    }

    .btn {
        width: 93%;
    }
}